@import "tailwindcss";

body {
  background-color: #ffffff;
  color: #111111;
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background-color: #111111;
  color: #ffffff;
}

h1 {
  color: #111111;
  transition: background-color 0.3s, color 0.3s;
}

html.dark,
h1 {
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}
